body {
  margin: 0;
  background-color: #d7d2d2;
  font-family: Arial, sans-serif;
}

.top_container {
  height: 10vh;
  width: 100vw;
}

.bottom_container {
  height: 20vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.grid {
  width: 220px;
  height: 440px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.mini-grid {
  margin-left: 2rem;
  width: 88px;
  height: 88px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.tetromino {
  background-color: blueviolet;
}

.frozen {
  background-color: lightblue;
}

.taken {
  background-color: #999;
}

.green {
  background-color: green;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#score {
  font-weight: bold;
  margin-left: 5px;
  color: #fff;
}

.buttons,
.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-line {
  display: flex;
  justify-content: center;
}

#up-btn,
#left-btn,
#right-btn,
#down-btn {
  margin: 1rem;
  width: 10vw;
  height: 8vh;

  background-color: gainsboro;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
